
{% extends "base.html" %}
{% block content %}
<div class="content">
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title"> Companies Listing</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Email
                                </th>
                                <th class="text-center">
                                    Website
                                </th>
                            </tr>
                        </thead>
                        <tbody>
{% for object in object_list %}
                            <tr>
                                <td>
                                    <a href="{%url "Auth_Company_detail" object.pk %}">{{object.name}}</a>
                                </td>
                                <td>
                                    {{object.Phone}}
                                </td>
                                <td>
                                    {{object.email}}
                                </td>
                                <td class="text-center">
                                    <a href="http://{{object.website}}">{{object.website}}</a>
                                </td>
                            </tr>
{% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%if request.user.role|stringformat:"s" == "Admin" or request.user.role|stringformat:"s" == "System" %}
<div><a class="btn btn-primary" href="{% url 'Auth_Company_create' %}">Create a new Company</a></div>
{%endif%}
{% endblock %}
